body{
  font-family: "Note Sans JP", Arial, Helvetica, sans-serif;
  padding: 20px;
  
}

/* form */
.form{
  border: 2px solid #000;
  padding: 20px 10px;
  min-width: 780px;
  margin: 0 auto;
}

.form_list{
  display: flex;
  margin-bottom: 10px;
}

.form_title{
  font-weight: bold;
  cursor: pointer;
  width: 15%;
}

.form_field{
  width: 50%;
}

.form_button{
  text-align: center;
}

/* input, textarea */
.input_field{
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
}

/* button */
.button{
  border 0;
  font-style: 18px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  transition: opacity 0.25s;
}

.button:hover{
  opacity: 0.8;
}

/* history_link */
.history_link{
  margin-top: 20px;
  text-align: right;
}

.history_link > a{
  margin: 0 5px;
  color: #000;
}


/* table */

.table{
  width: 100%;
}

.table_head{
  background-color: #eee;
}

.table_head th{
  border: 1px solid #000;
  text-align: center;
  padding: 5px;
  width: 15%;
}

.table_head th:nth-child(4){
  width: 55%;
}

.table_body td{
  text-align: left;
  border: 1px solid #000;
  padding: 10px;
}










